Fonts

.tile.tile-1 {
color: #e5e5e5 }
.tile.tile-2 {
color: #f5e3ab }
.tile.tile-3 {
color: #8a0000 }
.tile.tile-4 {
color: #ff0036 }
.tile.tile-5 {
color: #ff7400 }
.tile.tile-6 {
color: #ffc100 }
.tile.tile-7 {
color: #fbff00 }
.tile.tile-8 {
color: #51ff00 }
.tile.tile-9 {
color: #038b34 }
.tile.tile-10 {
color: #05ddc6 }
.tile.tile-11 {
color: #00ecff }
.tile.tile-12 {
color: #001bff }
.tile.tile-13 {
color: #9a01cb }
.tile.tile-14 {
color: #f203c7 }
.tile.tile-15 {
color: #f20389 }
.tile.tile-16 {
color: #fc8cba }
.tile.tile-17 {
color: #ffbead }
.tile.tile-18 {
color: #a6513a }
.tile.tile-19 {
color: #6190a6 }
.tile.tile-20 {
color: #000000 }
.tile.tile-21 {
color: #7a7b7b }
.tile.tile-22 {
color: #06d2ad }

tile.plus
tile.minus
